@media (min-width: 1024px) {

   .wrapper {
       flex-direction: row;
       max-width: 1163px;
       margin: 0 auto;
    }

   .box__left {
       flex: 52%;
       align-self: center;
       text-align: left;
    }

   .box__right {
    flex: 48%;
    }

   .box__left--header,
   .box__left--pgraph {
       text-align: left;
       padding-right: 2.8rem;
    }

   .box__left--header {
       font-size: 5.1rem;
    }

   .box__left--pgraph {
       max-width: 51.7rem;
       font-size: 1.5rem;
    }
}